body {
    background-color: rgb(235,235,235);
}

.container {
    min-width: 1140px;
    max-width: 1140px;
    height: 700px;
    margin: 0 auto;
    border: 0 solid white;
    background-color: rgb(255,255,255);
}

    .container > .row {
        height: 33.33%;
    }

.desk {
    padding: 5px 6%;
    /*width: 18%;*/
    /*border: 1px dotted black;*/
    display: inline-block;
}

    .desk > * {
        margin: 0 auto;
    }

.FirRow > img {
    display: inline-block;
}
